<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="chrome=1" />
        <title>{% if page.title %}{{ page.title }} - {% endif %}{{ site.title }}</title>
        {% if page.description %}<meta name="description" content="{{ page.description }}" />{% endif %}
        <link rel="stylesheet" href="/stylesheets/styles.css" />
        <link rel="stylesheet" href="/stylesheets/pygment_trac.css" />
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
        <link href="atom.xml" rel="alternate" title="joewiz.org" type="application/atom+xml" />
        <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
        {% if site.google_analytics %}<!-- google analytics async -->
        <script type="text/javascript">
            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', '{{ site.google_analytics.account }}']);
            _gaq.push(['_trackPageview']);
            (function() {
              var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
              ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
              var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
            })();
        </script>{% endif %}
        <!--[if lt IE 9]>
        <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
    </head>
    <body>
        <div class="wrapper">
            <header>
                <a href="/"><h1>☯ {{ site.title }}</h1></a>
                <p>{{ site.description }}</p>
                <ul>
                    <li><a href="atom.xml">Feed of this blog</a></li>
                    <li><a href="http://github.com/{{ site.github.username }}">My GitHub projects</a></li>
                    <li><a href="http://twitter.com/{{ site.twitter.username }}">Twitter</a></li>
                    <li><a href="http://{{ site.tumblr.username }}.tumblr.com/">Tumblr</a></li>
                    <li><a href="https://pinboard.in/u:{{ site.pinboard.username }}/">Pinboard</a></li>
                </ul>
            </header>
            <section>
                {% if page.link %}
                <a href="{{ page.link }}"><h2 class="linked-list">{{ page.title }}</h2></a>
                {% else %}
                <a href="{{ page.url }}"><h2>{{ page.title }}</h2></a>
                {% endif %}
                
                <p><small><date>{{ page.date | date_to_long_string }}</date>{% if page.tags %}<br/>Tags: {{ page.tags | array_to_sentence_string }}.{% endif %}</small></p>
                
                {{ content }}
            </section>
            <footer>
                <p><small>Hosted on GitHub Pages &mdash; Theme by <a href="https://github.com/orderedlist">orderedlist</a></small></p>
            </footer>
        </div>
        <script src="/javascripts/scale.fix.js"></script>
        
    </body>
</html>